<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Docker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Hello Docker!!</h1>
      <p class="lead">Welcome to my Dockerized application.</p>
      <hr class="my-4">
      <p>Check out my Docker blog post for more insights.</p>
      <a class="btn btn-primary btn-lg" href="https://codewithjim.dev/understanding-docker" target="_blank" role="button">My Docker Blog</a>
    </div>
  </div>
</body>
</html>